<div class="mt-4">
    <h3>Khoá học của tôi</h3>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khoá học</th>
                <th scope="col">Trình độ  </th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col"></th>
                


            </tr>
        </thead>
        <tbody>

            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a type="button" class="btn btn-link" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                         xoá
                    </a>

                </td>


              
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>



{{!-- confirm delete course --}}
<div class="modal" tabindex="-1" id="exampleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoá khoá học?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xoá khoá học này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Huỷ</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger " data-bs-dismiss="modal">Xoá bỏ</button>
      </div>
    </div>
  </div>
</div>

{{!-- hiden form-delete --}}

<form name="delete-course-form" method="post" >

</form>


<script>
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var btnDeleteCourse = document.getElementById('btn-delete-course');

    const exampleModal = document.getElementById('exampleModal')
    if (exampleModal) {
        exampleModal.addEventListener('show.bs.modal', (event) => {
            const button = event.relatedTarget
 
            courseId = button.getAttribute('data-id')
            
        })

        
    }

    

    btnDeleteCourse.onclick = function () {
        deleteForm.action = `/courses/${courseId}?_method=DELETE`;
        console.log(deleteForm)
        deleteForm.submit();
    }

</script>